In [1]:
#Import the external packages into Python to perform various analyses
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk import punkt
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import json
import pymssql as pym
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import custom functions
from cleanString import cleanString
from createStopWords import createStopWords
from fileDataLoad import fileDataLoad
from WarehouseDataExtract import WarehouseDataExtract

In [3]:
# using my test star wars dataset - if this was a real analysis you would use another source file, 
# either from Excel, CSV or the AMS Warehouse using WarehouseData Extract
#filename = r'C:\Users\jpuryear1\Documents\Python Scripts\starwars_data.xlsx'
#sheetname = 'Sheet1'
#inputDF = fileDataLoad(filename,sheetname)

In [4]:
# Imports the JSON file with User Id and Password
db_data = json.load(open(r'c:\Users/jpuryear1/Documents/Python Scripts/DB_connection.json'))
# Extracts user id and password to variables
WH_USER = db_data['userid']
WH_PW = db_data['password']
#EAI code to be queried
#print('Welcome to Incident Wordcloud Generation!')
eai_cd = input('Please type in the EAI code that you would like to generate a Top Terms List for: ')
print(f'You are pulling data for {eai_cd}')
#print('Data Extract Commencing - Please note that it will take several minutes to pull the data')
#Standard SQL to pull data for a given EAI Code
sql = f"""SELECT number, short_description, description, u_resolution_notes, u_incident_resolution_category, 
u_incident_resolution_subcateg, close_code, contact_type
  FROM [USBPMMetricsWhse].[dbo].[T_SRVNW_INCDN_SUM] a
  JOIN [USBPMMetricsWhse].[dbo].[T_SRVNW_AFCT_TASK_CI_SUM] b on a.number = b.task
  WHERE
  a.DW_REC_CUR_IND = 'Y'
  and b.ci_item like '{eai_cd}%'
  and a.opened_at > '2019-01-01 00:00:00'"""
# runs the WarehouseDataExtract function and imports the data to a dataframe
inputDF = WarehouseDataExtract(WH_USER, WH_PW, sql)
# print the head so you know which column to pull the text data from
inputDF['Summary'] = inputDF['short_description'].astype(str) + ' - ' + inputDF['description'].astype(str) + ' - ' + inputDF['u_resolution_notes'].astype(str)
print(f"There are {inputDF.shape[0]} observations and {inputDF.shape[1]} features in this dataset. \n")

Please type in the EAI code that you would like to generate a Top Terms List for:  10966

You are pulling data for 10966
There are 428 observations and 9 features in this dataset.

In [5]:
# Extract the Summary data from the dataframe into a list
TextReviewList = inputDF.loc[:,'Summary'].tolist()

#Create a "clean" list to hold the cleaned strings
TextCleanList = []

# Clean the strings from TextReviewList and copy the clean strings to TextCleanList
for str in TextReviewList:
    TextCleanList.append(cleanString(str))
    
# adds a new column to the inputDF to hold the cleaned summary text
inputDF['CleanText'] = ''

# merge the cleaned summary back into the input dataframe
inputDF['CleanText'] = pd.Series(TextCleanList).values

In [25]:
# create the Stop words to use
remove_words = ('entered', 'auto', 'ams', 'arm', 'metlife', 'l1', 'us', 'corporate', 'billing', 'system', 'byauto','aalert', 'f090', 'e90', 'gssp', 'platformentered'
               ,'com', 'https', 'gto', 'bmc', 'servicing', 'platform', 'topaz')
stopset = createStopWords(remove_words)

#need more information about what this does...
vectorizer = TfidfVectorizer(stop_words=stopset, analyzer = 'word')
#need more information about what this does...
tfidf_matrix = vectorizer.fit_transform(inputDF.loc[:,'CleanText'].tolist())

# break out the distinct words
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

#convert the Df dataframe to True / False values
df_boo = (df.loc[:] > 0).astype(int)

In [26]:
# add a column to group all tickets by - ideally this might be a period or cluster value
df_boo['Grouping'] = 'All'

In [27]:
# average the distribution of the given word across the dataset
AllDist = df_boo.groupby("Grouping").mean()*100
AllDist.head()

,00,000,00003,0001,00094488755,004,00403745728,00455964021,00592858443,00821638284,...,yikes,ykhh9vgprqlu964pgacjucg0kxem4cm9tmaztt4kp9hczuqhtpilswmvwnwnkwusu3vhja4acbmgc1s6xcead7qpblfvkhl6vd3ge,yoshito,yxxzfgvctbsmcxgryui6nneec5gsrt7fvfpsv4,zelno,zgtjlsy0pzntw8qihyk9adcbuws6twcgz7fdlbzity,zip,zipcode,zipdeliveryofficecode,zztestge123
Grouping,,,,,,,,,,,,,,,,,,,,,
All,0.700935,0.934579,1.869159,0.233645,0.233645,0.233645,0.233645,0.233645,0.233645,0.233645,...,0.233645,0.233645,0.233645,0.233645,1.401869,0.233645,0.700935,0.233645,0.233645,0.233645

In [28]:
words = AllDist.iloc[:, 1:].sum(axis=0)
#print(words.head())

In [29]:
# define each column as a pandas series
wordList = pd.Series(words.index.values, index = np.arange(len(words)))
wordDist = pd.Series(list(words), index = np.arange(len(words)))

# create the dataframe
wordDF = pd.DataFrame(dict(wordList = wordList, wordDist = wordDist))
wordDF = wordDF[["wordList", "wordDist"]]
# remove words with values less than 1%
wordDF = wordDF[wordDF['wordDist'] >= 1]

In [30]:
#sort in descending order
wordDF.sort_values(["wordDist"], ascending=False, inplace=True)
wordDF.reset_index(inplace=True, drop=True)
# Print out the Top 25 Terms used at least once per Row
print(wordDF.head(25))
#print(wordDF.shape[0])

     wordList   wordDist
0       error  82.943925
1      online  75.467290
2         msg  74.299065
3      public  74.065421
4        step  73.364486
5       10966  73.130841
6    critical  72.897196
7   keepalive  71.962617
8        html  71.495327
9     content  70.794393
10      match  70.560748
11  servi001a  70.560748
12     impact  57.242991
13     closed  55.373832
14    manager  55.373832
15   original  54.906542
16     events  54.906542
17     please  35.747664
18      taken  26.635514
19    actions  26.168224
20    provide  25.934579
21   incident  25.700935
22       done  24.766355
23     action  24.299065
24       took  24.065421